.food__card img {
  width: 200px;
  margin-top: 35px;
}
.food__card {
  border-radius: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 450px;
}

.food__card:hover {
  background-color: white;
  box-shadow: 6px 14px 28px -5px black;
  box-shadow: 10px black;
  padding: 2vh;
  transition-duration: 600ms;
}
